<a class="item {% if n == 'dashboard_admin' %}on{% endif %}" href="{% url 'dashboard_admin' %}">Dashboard</a>
<span class="item off">Semua komentar <em>segera</em></span>
<span class="item off">Persetujuan request <em>segera</em></span>
<span class="item off">Analisis dan penanganan <em>segera</em></span>
<span class="item off">Laporan <em>segera</em></span>
<span class="item off">Riwayat aktivitas <em>segera</em></span>

<h4>Kelola data</h4>
<span class="item off">Akun pengguna <em>segera</em></span>
<span class="item off">Platform dan akun sosmed <em>segera</em></span>
<span class="item off">Kategori komentar <em>segera</em></span>
<span class="item off">Jenis solusi <em>segera</em></span>